p{
color: purple;
font-family: Courier, monospace;
font-size: 15px;
}

body{background-color: cornsilk;
}

h1{color:blueviolet ;
    font-family:'Courier New', Courier, monospace;
    }

h2{color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}